*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';

body{
    width: 100%;
    background-color: $black-dark;
    overflow-x: hidden;
    

}

@import 'sass/layout';
@import 'sass/spacing';


@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1s; }





.modal {
  position: fixed;
  inset: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s ease;
  z-index: 999;
}


.modal:target {
  opacity: 1;
  pointer-events: auto;
}


.modal-content {
  background: $black-dark;
  padding: 32px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  animation: scaleIn .4s ease;
}

.modal-content h2 {
  color: $white;
  margin-bottom: 20px;
}


.close {
  position: absolute;
  top: 12px;
  right: 16px;
  text-decoration: none;
  font-size: 24px;
  color: $gray;
}

.close:hover {
  color: $white;
}


.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin: 12px 0;
}

.social-links a {
  display: block;
  padding: 12px;
  border-radius: 10px;
  background: $black;
  color: $white;
  text-decoration: none;
  transition: transform .2s, background .2s;
}

.social-links a:hover {
  background: $white;
  color: $black-dark;
  transform: translateY(-3px);
}


@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.about-content {
  text-align: left;
}

.about-content p {
  color: $white;
  line-height: 1.6;
  margin-bottom: 16px;
}

.about-content strong {
  color: $white;
}

.about-divider {
  border: none;
  height: 1px;
  background: $black-light;
  margin: 24px 0;
}
