

$black: #161616;
$black-light: #1a1a1a;
$black-dark: #0D0D0D;

$white: #FDFBFA;
$white-light: #FAF8F5;
$white-dark: #D0CFCC;

$blue: #3B82F6;
$blue-light: #4D9AFA;
$blue-dark: #13366D;

$gray: #7B7B7B;
$gray-dark: #636363;
