.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    

}

.menu-logo{
    display: inline-block;
    gap: 10px;
    align-items: center;
    
    img{
        width: 40px;
        height: 32px;
        object-fit: fill;
        
    }
    
    &:hover{
        color: $gray-dark;
        opacity: .8;
        transform-origin: center;
        transform: scale(1.1);
        
        transition: transform .5s ease;
        
    
    }
}

.menu-left, .menu-right, .menu-logo{
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 16px 16px;
    
}

@media screen and (max-width: 1200px){
    .menu-left, .menu-right, .menu-logo{
        padding: 0px 50px;
        gap: 40px;
        align-items: center;

    }
}

@media screen and (max-width: 768px){
    .menu-left, .menu-right, .menu-logo{
        padding: 0px 50px;
        gap: 40px;
        align-items: center;

    }
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .menu-left, .menu-right, .menu-logo{
        padding: 0px 10px;
        gap: 40px;
        align-items: center;

    }
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    padding: 232px 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.container-item:nth-child(1){

    flex: 3;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.container-item:nth-child(2){

    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    img{
    max-width: 280px;
    
    border-radius: 3%;
    

}

}

.hero{
    height: auto;
    
}

.relative{
    position: relative;
}

.bg-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    
}

.svg-hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
}


@media screen and (max-width: 1200px){
    .svg-hero{
    transform: scale(1.3);
}
}

@media screen and (min-width: 300px) and (max-width: 1200px){
    .svg-hero{
    transform: scale(1.5);
    overflow-x: hidden;
    
}
}

.reveal {
  opacity: 0;
  animation: revealUp 0.9s ease forwards;
  animation-delay: 0.2s;
}

@keyframes revealZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.reveal-zoom {
  opacity: 0;
  animation: revealZoom 1s ease forwards;
}


