h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: $white-light;
    
}

a{
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: $white-light;
}

p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: $white-light;
}

.link{
    
    padding: 16px 16px;
    transition: color 0.3s ease;

    &::after{
        content: '';
        display: block;
        
        position: relative;
        top: 100%;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $white;

        transform: translate( 20%, 200%);
        transition: 0.3 ease;
    }
    
    &:hover{
        color: $gray-dark;
        opacity: .8;
        &::after{
            width: 70%;
            transition: width 0.6s ease;
        }
    }
}


h1{
    font-size: 72px;
    
}

h2{
    font-size: 64px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 36px;
}

h6{
    font-size: 16px;
}

a{
    font-size: 16px;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

.mask{
   background: #FDFBFA;
background: linear-gradient(90deg, rgba(253, 251, 250, 1) 0%, rgba(123, 123, 123, 0.83) 97%, rgba(99, 99, 99, 0.7) 99%);
background-clip: text;
-webkit-text-fill-color: transparent;
}

.button{
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid $white-dark;
    border-radius: 3px;
    color: $white-dark;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.8s ease, color 0.8s ease, border 0.5s ease;
    ;
    &:hover{
        border: 2px solid $white-light;
        background-color: $white;
        color: $black-dark;
    }
}

.container{
      

    @media screen and (max-width: 1500px){
        
        h1{
            font-size: 48px;
        }

        h3{
            font-size: 36px;
        }




    }

    @media screen and (min-width: 720px) and (max-width: 1350px){
        
        h1{
            font-size: 40px;
        }

        h3{
            font-size: 32px;
        }
    }


@media screen and (min-width: 300px) and (max-width: 719px){
        
        
        h1{
            font-size: 32px;
        }

        h3{
            font-size: 24px;
        }
        
        .button{
            padding: 8px 20px;
            font-size: 14px;
        }
        

        .container-item:nth-child(2){
            padding-left: 20px;
            
        }

}
}